{% extends 'base.html' %} 

{% block title %} Task Lists {% endblock %} 

{% block content %}

<div class="m-1 p-1 d-flex flex-column justify-content-center">
  <form class="my-2" method="GET">
  <div class="input-group mb-3">
    <input type="text" class="form-control" name="search-area" placeholder="item to search">
    <button class="btn btn-outline-secondary">Search</button>
  </div>
</form>


  <a class=" m-1 align-self-center" href="{% url 'task-create' %}">
    <button class="btn btn-success btn-hover">add item</button>
  </a>

</div>
<div class="container shadow p-3">
<table class="table table-striped table-hover border">
  <tr>
    <th class="text-center" colspan="4">ITEMS TO BUY {{ count }}</th>
  </tr>
  <tr>
    {% for task in tasks %}
    <td>{{ task.title }}</td>
    
    <!-- <td><a href="{% url 'task' task.id %}"><button class="btn btn-primary">View</button></a></td> -->
    
    <td><a href="{% url 'task-update' task.id %}"><button class="btn btn-warning">edit</button></a></td>
    
    <td><a href="{% url 'task-delete' task.id %}"><button class="btn btn-danger">delete</button></a></td>
  </tr>
  <tr>
    {% empty %}
    <td class="text-center"><h3>No Items</h3></td>
    {% endfor %}
  </tr>
</table>
</div>

{% endblock%}
