{% extends 'base.html' %}

{% block title %}
Task Lists
{% endblock %}

{% block content %}
  <table class="table table-striped">
    <tr>
      <th class="text-center" colspan="2">ITEMS TO BUY </th>
      <!-- <th class="text-center"></th> -->

    </tr>
    <tr>
    {% for task in tasks %}
    <td >{{ task.title }}</td> 
    <td ><a href="{% url 'task' task.id %}">View</a></td> 
    </tr>
    <tr>
    {% empty %}
    <td class="text-center"> <h3>No Items</h3></td>
    {% endfor %}
    </tr>
  </table>

{% endblock%}